
<footer class="fdoFoter bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
     
  
      <!-- Section: Form -->
      <section class="">
        
          <!--Grid row-->
          <section class="my-5">
            <h4>{{'beneficios' | translate}}</h4>

          <p>{{'diversificar' | translate}}</p>

        </section>
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>{{'newsletter' | translate}}</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">{{'email' | translate}}</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="button" class="btn btn-outline-light mb-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom2" aria-controls="offcanvasBottom">
                {{'enviar' | translate}}
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
     
      <!-- Section: Text -->
  
    
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      2022 Raúl Flores
     
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->



<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom2" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    
    <h3 class="offcanvas-title" id="offcanvasBottomLabel">{{'suscripcion-hecha' | translate}}</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
            {{'suscripcion-info' | translate}}
        </div>
    </div>

    
  </div>
</div>

